#how {
	padding-bottom: 76px;

	.row {
		display: flex;
		justify-content: space-between;
	}

	.col {
		position: relative;
	}

	.col:first-child {
		margin-right: 400px;
	}

	h2 {
		margin-bottom: 42px;
	}

	li {
		display: flex;
		align-items: center;
		margin-bottom: 49px;

		.num {
			color: $blue;
			font-size: 36px;
		}

		.line {
			display: block;
			width: 1px;
			height: 80px;
			background: $blue;
			margin-left: 33px;
			margin-right: 45px;
		}

		h3 {
			font-size: 30px;
			line-height: 147.7%;
			margin-bottom: 6px;
		}

		.description {
			font-size: 16px;
			line-height: 147.7%;
		}
	}

	.paralax {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		margin-top: 38px;
		width: 265px;
		height: calc(100% - 38px);
		min-height: 900px;
		background-image: url(../public/img/how.png);
		background-position-y: center;
		background-position-x: 0%;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 20px;
		writing-mode: tb-rl;
		font-weight: 500;
		font-size: 144px;
		letter-spacing: 0.16em;
		color: $back;
		text-align: center;
		line-height: 265px;
	}
}

@media (max-width: 1150px) {
	#how {
		padding-bottom: 45px;

		.col:first-child {
			margin-right: 20px;
			margin-left: 17px;
		}

		h2 {
			margin-bottom: 22px;
			margin-top: 22px;
		}

		li {
			margin-bottom: 15px;
			align-items: stretch;

			.num {
				font-size: 25px;
				display: flex;
				align-items: center;
			}

			.line {
				height: auto;
				margin-left: 15px;
				margin-right: 15px;
			}

			h3 {
				font-size: 18px;
			}

			.description {
				font-size: 13px;
			}
		}

		.paralax {
			display: none;
		}
	}
}