@import 'var';
@import 'font';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, hgroup, menu, nav, section {
	display: block;
	position: relative;
	overflow: hidden;
}

header {
	display: block;
	position: relative;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background-color: $back;
	margin-right: calc(-1 * (100vw - 100%));

	body {
		font-size: 16px;
		line-height: 1.4;
		min-width: 320px;
		position: relative;
		color: $font;
		font-family: $default-font, sans-serif;
		opacity: 1;
		overflow-x: hidden;

		a, a:active, a:hover, a:focus {
			text-decoration: none;
			color: $font;
			outline: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		input, button {
			font-family: $default-font, sans-serif;
			outline: none;
			appearance: none;
			border-radius: 0;
			border: none;
			background: none;
		}

		button {
			cursor: pointer;
		}

		&.hid {
			overflow: hidden;
		}
	}
}

#wrap {
	width: 100%;
	padding-left: $hw;
	position: relative;
	overflow-x: hidden;
}

.container {
	width: 1270px;
	margin: auto;
	position: relative;
}

h2 {
	font-weight: 500;
	font-size: 55px;
	line-height: 147.7%;
}

@media (max-width: 1650px) {
	#wrap {
		padding-left: 0;
		padding-top: $hh;
	}

	.container {
		width: 1350px;
	}
}

@media (max-width: 1400px) {
	.container {
		width: 1100px;
	}
}

@media (max-width: 1150px) {
	#wrap {
		padding-top: $hhm;

		&.act {
			filter: blur(15px);
		}
	}

	.container {
		width: 100%;
	}

	h2 {
		font-size: 30px;
	}
}

//----------анимация-----------------------
.mov, .mov2, .mov3, .m_mov, .m_mov2, .m_mov3 {
	animation-duration: 0.75s;
	animation-fill-mode: backwards;

	&.delay-1 {
		animation-delay: 0.2s;
	}

	&.delay-2 {
		animation-delay: 0.4s;
	}

	&.delay-3 {
		animation-delay: 0.6s;
	}
}

@media (max-width: 1150px) {
	.mov, .mov2, .mov3, .m_mov, .m_mov2, .m_mov3 {
		&.delay-1, &.delay-2, &.delay-3 {
			animation-delay: 0s;
		}
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	animation-name: fadeInUp;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fadeInLeft {
	animation-name: fadeInLeft;
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fadeInRight {
	animation-name: fadeInRight;
}

//---------------прелодер-----------------------
#preloader {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	z-index: 500;
	background-color: #fff;
	top: 0;
	left: 0;
	opacity: 1;

	svg {
		margin: auto;
		fill: $blue;
		width: 160px;
		height: 144px;
	}
}

@import 'header';
@import 'main';
@import 'services';
@import 'how';
@import 'about';
@import 'portfolio';
@import 'job';
@import 'pop-up';
@import '404';
@import 'thanks';
@import 'footer';